.grid {
    display: grid;
  }
  .grid_2col {
    grid-template-columns: repeat(2, auto);
  }
  .grid_3col {
    grid-template-columns: repeat(3, auto);
  }
  
  html {
    font: 10px Lato, sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  :visited, :link {
    color: unset;
  }
  
  .wrapper {
    margin: auto;
    width: 1020px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    height: 89px;
    background-color: #2d303a;
  }
  .header .logo {
    margin: 29px 40px;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    color: white;
  }
  .header .logo .colored {
    color: #f06c64;
  }
  
  .nav-menu {
    margin: 42px 27px;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
  }
  .nav-menu .nav-ul {
    display: flex;
  }
  .nav-menu .nav-ul__separator {
    color: #666d89;
  }
  .nav-menu .nav-ul li {
    margin-right: 12.6px;
    cursor: default;
  }
  .nav-menu .nav-ul a {
    transition: all 0.3s ease-in-out;
  }
  .nav-menu .nav-ul a:hover {
    color: #f06c64;
  }
  
  .section {
    padding: 60px 40px;
    color: #666d89;
  }
  .section__header {
    font-size: 3rem;
    font-weight: 900;
    text-transform: capitalize;
  }
  .section__text {
    margin: 19px 0 11px;
    line-height: 1.65;
    font-size: 1.8rem;
    font-weight: 300;
    text-align: justify;
  }
  .section__form-group {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
  }
  
  .ruler {
    height: 6px;
  }
  .ruler__header {
    background: #323746;
  }
  .ruler__section {
    background: white;
  }
  .ruler__slider {
    background: #ea676b;
  }
  .ruler__portfolio {
    background-color: #323746;
  }
  .ruler__get-quote {
    background: #ea676b;
  }
  
  .slider {
    display: flex;
    height: 594px;
    background-color: #f06c64;
  }
  .slider__btn {
    width: 100px;
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 4px;
    transition: all 0.3s ease-in-out;
  }
  .slider__btn:hover {
    background-color: #fafafa50;
    cursor: pointer;
  }
  .slider__btn_left {
    background-image: url("assets/icons/left.svg");
  }
  .slider__btn_right {
    background-image: url("assets/icons/right.svg");
  }
  .slider__slides {
    flex: 1;
    margin: 0 10px;
  }
  
  .phones {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 215px;
    height: 458px;
    border-radius: 27px;
    background-color: #f2f2f2;
  }
  .phone_landscape {
    margin: 0 calc((458px - 215px) / 2);
  }
  .phone__cam {
    width: 9px;
    height: 9px;
    box-sizing: border-box;
    margin-top: 16px;
    border-radius: 50%;
    background: #eb5055;
    border: 2.5px solid #d8d8d8;
  }
  .phone__speaker {
    margin-top: 11px;
    width: 36px;
    height: 5px;
    border-radius: 3px;
    background-color: #acacac;
  }
  .phone__screen {
    width: 194px;
    height: 339px;
    margin-top: 21px;
    margin-left: 1px;
    border: 3px solid #c6c6c6;
    border-radius: 5px;
  }
  .phone__btn {
    width: 42px;
    height: 42px;
    margin-top: 7px;
    border-radius: 50%;
    background-color: #fafafa;
    display: flex;
  }
  .phone__btn div {
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #bababa;
    margin: auto;
  }
  .phone:first-child {
    transform: translate(2px, -15px);
    box-shadow: 6.25px 6.5px #ce5d56, 12.5px 13px #ce5d56, 18.75px 19.5px #ce5d56, 25px 26px #ce5d56;
  }
  .phone:first-child .phone__screen {
    background-image: url("assets/images/saladFaces.png");
    background-position: -14px -135px;
  }
  .phone:last-child {
    transform: translate(-26.5px, -15.5px) rotate(90deg);
    box-shadow: 6.25px -6.25px #ce5d56, 12.5px -12.5px #ce5d56, 18.75px -18.75px #ce5d56, 25px -25px #ce5d56;
  }
  .phone:last-child .phone__screen {
    background-image: url("assets/images/cyanFaces.png");
    background-position: -119px -122px;
  }
  
  .services {
    height: 494px;
    padding: 59px 40px;
    background-color: #f2f2f2;
  }
  .services .grid_3col {
    margin-top: 48px;
    padding-left: 1px;
    gap: 33px 20px;
  }
  .services .grid_3col .grid_2col {
    gap: 12px 19px;
  }
  .services .grid_3col .grid_2col .cell__header {
    margin-left: -1px;
    line-height: 0.8;
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: capitalize;
  }
  .services .grid_3col .grid_2col .cell__text {
    height: 64px;
    width: 217px;
    line-height: 1.8;
    font-size: 1.2rem;
    text-align: justify;
    overflow: hidden;
  }
  .services .grid_3col .grid_2col .icon {
    grid-row: 1/span 2;
    width: 60px;
    height: 60px;
  }
  
  .social-btns {
    display: flex;
    margin-top: 29px;
    margin-left: 1px;
  }
  
  .social-btns__btn {
    margin-right: 7px;
    background-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 33px;
    height: 33px;
    background: #666d89;
    transition: all 0.3s ease-in-out;
  }
  
  .social-btns__btn:hover {
    cursor: pointer;
    background: #f06c64;
  }
  
  .social-btns__btn_facebook {
    mask-image: url("assets/icons/Facebook.svg");
    -webkit-mask-image: url("assets/icons/Facebook.svg");
  }
  
  .social-btns__btn_gplus {
    mask-image: url("assets/icons/Google.svg");
    -webkit-mask-image: url("assets/icons/Google.svg");
  }
  
  .social-btns__btn_twitter {
    mask-image: url("assets/icons/Twitter.svg");
    -webkit-mask-image: url("assets/icons/Twitter.svg");
  }
  
  .social-btns__btn_linkedin {
    mask-image: url("assets/icons/LinkedIn.svg");
    -webkit-mask-image: url("assets/icons/LinkedIn.svg");
  }
  
  .portfolio {
    height: 863px;
    background-color: #2d303a;
    padding-top: 59px;
  }
  .portfolio .filters {
    display: flex;
    margin: 0 0 19px 1px;
  }
  .portfolio .filters__btn {
    height: 22px;
    font-size: 1.2rem;
    line-height: 1;
    padding: 2px 6px;
    margin-right: 10px;
    border-radius: 5px;
    background: none;
    border: 1px solid #666d89;
    color: #666d89;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
  }
  .portfolio .filters__btn:hover, .portfolio .filters__btn.selected {
    color: white;
    border-color: white;
    cursor: pointer;
  }
  li:first-child > .portfolio .filters__btn {
    padding: 2px 7px;
  }
  li:nth-child(3) > .portfolio .filters__btn {
    padding: 2px 5px;
  }
  
  .grid_4col {
    gap: 20px;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(3, 187px);
    height: 601px;
    overflow: hidden;
  }
  .grid_4col li {
    overflow: hidden;
    transition: all 0.7s ease-in-out;
  }
  .grid_4col li:hover {
    filter: contrast(1.2) saturate(1.3);
    cursor: pointer;
  }
  .grid_4col [alt=sailboat] {
    transform: translate(-8px, -11px);
  }
  .grid_4col [alt=girlface] {
    transform: translate(-82px, -43px);
  }
  .grid_4col [alt=town] {
    transform: translate(-11px, -1px);
  }
  .grid_4col [alt=robot] {
    transform: translate(-24px, -2px);
  }
  .grid_4col [alt=animals] {
    transform: translate(-10px, -16px);
  }
  .grid_4col [alt=sdk_ide] {
    transform: translate(-16px, -4px);
  }
  .grid_4col [alt=clipart] {
    transform: translate(-31px, -39px);
  }
  .grid_4col [alt=birds] {
    transform: translate(-24px, -32px);
  }
  .grid_4col [alt=castlehead] {
    transform: translate(-16px, -2px);
  }
  .grid_4col [alt=tape] {
    transform: translate(-141px, -113px);
  }
  .grid_4col [alt=monster] {
    transform: translate(-144px, -175px);
  }
  .grid_4col [alt=glass] {
    transform: translate(-36px, -60px);
  }
  
  .about-us {
    height: 728px;
  }
  .about-us .section__text {
    margin-bottom: 45px;
  }
  .about-us .grid_3col {
    gap: 19px;
  }
  .about-us .grid_3col .employee__photo {
    width: 300px;
    width: 300px;
    object-fit: none;
    transition: all 5s ease-in-out;
  }
  .about-us .grid_3col .employee__photo:hover {
    transform: translateY(8px);
  }
  .about-us .grid_3col .employee__header {
    margin: 13px 0;
    font-size: 1.8rem;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .about-us .grid_3col .employee__text {
    font-size: 1.2rem;
    line-height: 1.75;
    letter-spacing: -0.1px;
    margin: -5px 0;
    text-align: justify;
  }
  
  .get-quote {
    height: 648px;
    padding-top: 59px;
    background: #f06c64;
    color: #f0d8d9;
  }
  .get-quote .section__header {
    text-transform: unset;
  }
  
  .form {
    width: 619px;
    height: 364px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  .form__input, .form__textarea {
    background: #d6564f;
    color: #f0d8d9;
    border-radius: 5px;
    height: 38px;
    font: 10px Lato, sans-serif;
    font-size: 1.1rem;
    padding-left: 15px;
    letter-spacing: 0.4px;
    border: 1px solid #d6564f;
    /*
        &:invalid {
          border-color: red;
        }
     */
  }
  .form__input::placeholder, .form__textarea::placeholder {
    color: #f48c8f;
  }
  .form__input:hover, .form__textarea:hover {
    border-color: #00000033;
  }
  .form__input:-webkit-autofill, .form__textarea:-webkit-autofill {
    -webkit-text-fill-color: #f0d8d9;
    -webkit-box-shadow: 0 0 0 999px #d6564f inset;
    box-shadow: 0 0 0 999px #d6564f inset;
  }
  .form__textarea {
    height: 202px;
    padding-top: 10px;
    resize: none;
  }
  .form__btn {
    height: 38px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    right: -106px;
    bottom: 0;
    font: 10px Lato, sans-serif;
    font-size: 1.4rem;
    padding: 10px 20px;
    color: #d6564f;
    background: #f0d8d9;
    transition: all 0.3s ease-in-out;
  }
  .form__btn:hover {
    background: white;
    color: black;
  }
  
  .contacts {
    width: 300px;
  }
  .contacts__header {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1;
  }
  .contacts__text {
    margin-top: 9px;
    line-height: 1.9;
    font-size: 1.2rem;
    text-align: justify;
    letter-spacing: -0.1px;
  }
  .contacts__links {
    margin-top: 24px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    height: 58px;
    justify-content: space-between;
  }
  .contacts__links li:first-child img {
    margin-top: 1px;
    margin-left: 3px;
    margin-right: 10px;
  }
  .contacts__links img {
    margin-right: 9px;
  }
  .contacts__links li:hover {
    text-decoration: underline;
  }
  
  .footer {
    height: 76px;
    background: #2d303a;
    display: flex;
    justify-content: space-between;
  }
  .footer .copyright {
    color: #666d89;
    margin: 30px 42px;
    font-size: 1.2rem;
    letter-spacing: -0.1px;
  }
  .footer .go-up {
    color: #f0d8d9;
    cursor: pointer;
    margin: 14px;
    font-size: 1.4rem;
    transition: all 0.6s ease-in-out;
    opacity: 1;
  }
  .footer .go-up:hover {
    text-decoration: underline;
  }
  .footer:not(:hover) .go-up {
    opacity: 0;
    margin: 35px;
  }
  .footer .social-btns {
    margin: 22px 32px;
  }
  
  /*# sourceMappingURL=style.css.map */
  